{deps, [
        {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "HEAD"}},
        {jiffy,  ".*", {git, "https://github.com/davisp/jiffy.git", "HEAD"}},
        {uuid,  ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", "HEAD"}},
        {gproc,  ".*", {git, "https://github.com/esl/gproc.git", "HEAD"}},
        {gen_leader,  ".*", {git, "https://github.com/garret-smith/gen_leader_revival.git", "HEAD"}},
        {folsom,  ".*", {git, "https://github.com/boundary/folsom.git", "HEAD"}},
        {folsomite,  ".*", {git, "https://github.com/campanja/folsomite.git", "HEAD"}}
       ]}.











