[
 {pixel, [
          {http_port, {{ http_port | mandatory }} },
          {log_name, track},
          {log_file, "track"},
          {log_dir, "../log"},
          {log_archive, "../log_archive"},
          {log_size, {10485760, 100}},
          {eflame, {{ profiler | mandatory }} },
          {udp_host, "{{ udp_host | mandatory }}" },
          {udp_port, {{ udp_port | mandatory}} }
         ]},

 {folsomite, [
              {graphite_host, "127.0.0.1"}
             ]},

 %% Start up gproc in global mode
 {gproc, [
          {gproc_dist, all}
         ]},

  %% Sync settings (dev only)
  {sync, [
          {growl, all},
          {log, all},
          {non_descendants, fix},
          {executable, auto},
          {excluded_modules, []}
         ]}

].

