[
 {pixel, [
          {http_port, 8080},
          {log_name, track},
          {log_file, "track"},
          {log_dir, "log"},
          {log_archive, "log_archive"},
          {log_size, {1024, 10}}
         ]},

 %% Start up gproc in global mode
 {gproc, [
          {gproc_dist, all}
         ]},

  %% Sync settings (dev only)
  {sync, [
          {growl, all},
          {log, all},
          {non_descendants, fix},
          {executable, auto},
          {excluded_modules, []}
         ]}

].

